<h1>Create a new user</h1>
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'View all users', users_path %></li>
  <li><%= link_to 'Create new user', new_user_path %></li>
</ul>

<%= form_for @user do |user| %>
  <p>
    <strong><%= user.label :name %></strong>
    <%= user.text_field :name %>
  </p>
  <p>
    <strong><%= user.label :email %></strong>
    <%= user.email_field :email %>
  </p>
  <p>
    <%= user.submit %>
  </p>
<% end %>
